In [1]:
from pandas import pandas as pd
import numpy as np
import random
import csv, sqlite3
import logging
import cProfile
import lazypandas
import matplotlib.pyplot as plt
import datetime, warnings, scipy

In [2]:
lz = lazypandas.lazy_pandas()

LZ Creating engine

In [3]:
airlines = lz.read_csv('../dot/airlines.csv')
airports = lz.read_csv('../dot/airports.csv')
data  = lz.read_csv('../dot/red_flights.csv')

table name airlines
new_stack
140072035834792
new lzpd stack select airlines.AIRLINE, airlines.IATA_CODE, airlines.auto_index
from airlines

table name airports
new_stack
140072031766008
new lzpd stack select airports.AIRPORT, airports.CITY, airports.COUNTRY, airports.IATA_CODE, airports.LATITUDE, airports.LONGITUDE, airports.STATE, airports.auto_index
from airports

table name red_flights
new_stack
140072035982808
new lzpd stack select red_flights.AIRLINE, red_flights.AIRLINE_DELAY, red_flights.AIR_SYSTEM_DELAY, red_flights.AIR_TIME, red_flights.ARRIVAL_DELAY, red_flights.ARRIVAL_TIME, red_flights.CANCELLATION_REASON, red_flights.CANCELLED, red_flights.DAY, red_flights.DAY_OF_WEEK, red_flights.DEPARTURE_DELAY, red_flights.DEPARTURE_TIME, red_flights.DESTINATION_AIRPORT, red_flights.DISTANCE, red_flights.DIVERTED, red_flights.ELAPSED_TIME, red_flights.FLIGHT_NUMBER, red_flights.LATE_AIRCRAFT_DELAY, red_flights.MONTH, red_flights.ORIGIN_AIRPORT, red_flights.SCHEDULED_ARRIVAL, red_flights.SCHEDULED_DEPARTURE, red_flights.SCHEDULED_TIME, red_flights.SECURITY_DELAY, red_flights.TAIL_NUMBER, red_flights.TAXI_IN, red_flights.TAXI_OUT, red_flights.WEATHER_DELAY, red_flights.WHEELS_OFF, red_flights.WHEELS_ON, red_flights.YEAR, red_flights.auto_index
from red_flights

In [4]:
data.execute('select auto_index from red_flights limit 5 ').fetchall()

[(0,), (1,), (2,), (3,), (4,)]

In [5]:
data['auto_index']

caught get [] 2
col_name auto_index
new lzpd stack select auto_index
from red_flights

[    0     1     2 ... 99996 99997 99998]

In [6]:
data['new'] = 1

caught set [] new 1
R: looking for  new in red_flights
caught get [] 2
col_name red_flights.auto_index
new lzpd stack select red_flights.auto_index
from red_flights

new_stack
140072035979392
new lzpd stack select auto_generated_table_new.auto_index, auto_generated_table_new.new
from auto_generated_table_new

caught merge
merge ['red_flights'] ['auto_generated_table_new']
new_stack
140072035981240
R: looking for  auto_index in red_flights
L: looking for  auto_index in auto_generated_table_new
new lzpd stack select auto_generated_table_new.auto_index, auto_generated_table_new.new, red_flights.AIRLINE, red_flights.AIRLINE_DELAY, red_flights.AIR_SYSTEM_DELAY, red_flights.AIR_TIME, red_flights.ARRIVAL_DELAY, red_flights.ARRIVAL_TIME, red_flights.CANCELLATION_REASON, red_flights.CANCELLED, red_flights.DAY, red_flights.DAY_OF_WEEK, red_flights.DEPARTURE_DELAY, red_flights.DEPARTURE_TIME, red_flights.DESTINATION_AIRPORT, red_flights.DISTANCE, red_flights.DIVERTED, red_flights.ELAPSED_TIME, red_flights.FLIGHT_NUMBER, red_flights.LATE_AIRCRAFT_DELAY, red_flights.MONTH, red_flights.ORIGIN_AIRPORT, red_flights.SCHEDULED_ARRIVAL, red_flights.SCHEDULED_DEPARTURE, red_flights.SCHEDULED_TIME, red_flights.SECURITY_DELAY, red_flights.TAIL_NUMBER, red_flights.TAXI_IN, red_flights.TAXI_OUT, red_flights.WEATHER_DELAY, red_flights.WHEELS_OFF, red_flights.WHEELS_ON, red_flights.YEAR, red_flights.auto_index
from auto_generated_table_new, red_flights
where (auto_generated_table_new.auto_index = red_flights.auto_index)

new lzpd stack select auto_generated_table_new.auto_index, auto_generated_table_new.new, red_flights.AIRLINE, red_flights.AIRLINE_DELAY, red_flights.AIR_SYSTEM_DELAY, red_flights.AIR_TIME, red_flights.ARRIVAL_DELAY, red_flights.ARRIVAL_TIME, red_flights.CANCELLATION_REASON, red_flights.CANCELLED, red_flights.DAY, red_flights.DAY_OF_WEEK, red_flights.DEPARTURE_DELAY, red_flights.DEPARTURE_TIME, red_flights.DESTINATION_AIRPORT, red_flights.DISTANCE, red_flights.DIVERTED, red_flights.ELAPSED_TIME, red_flights.FLIGHT_NUMBER, red_flights.LATE_AIRCRAFT_DELAY, red_flights.MONTH, red_flights.ORIGIN_AIRPORT, red_flights.SCHEDULED_ARRIVAL, red_flights.SCHEDULED_DEPARTURE, red_flights.SCHEDULED_TIME, red_flights.SECURITY_DELAY, red_flights.TAIL_NUMBER, red_flights.TAXI_IN, red_flights.TAXI_OUT, red_flights.WEATHER_DELAY, red_flights.WHEELS_OFF, red_flights.WHEELS_ON, red_flights.YEAR, red_flights.auto_index
from auto_generated_table_new, red_flights
where (auto_generated_table_new.auto_index = red_flights.auto_index)

In [16]:
hei = data.groupby('airline')
hei.generate_query()

caught groupby ('airline',) {}
new lzpd stack select auto_generated_table_new.new, red_flights.AIRLINE, red_flights.AIRLINE_DELAY, red_flights.AIR_SYSTEM_DELAY, red_flights.AIR_TIME, red_flights.ARRIVAL_DELAY, red_flights.ARRIVAL_TIME, red_flights.CANCELLATION_REASON, red_flights.CANCELLED, red_flights.DAY, red_flights.DAY_OF_WEEK, red_flights.DEPARTURE_DELAY, red_flights.DEPARTURE_TIME, red_flights.DESTINATION_AIRPORT, red_flights.DISTANCE, red_flights.DIVERTED, red_flights.ELAPSED_TIME, red_flights.FLIGHT_NUMBER, red_flights.LATE_AIRCRAFT_DELAY, red_flights.MONTH, red_flights.ORIGIN_AIRPORT, red_flights.SCHEDULED_ARRIVAL, red_flights.SCHEDULED_DEPARTURE, red_flights.SCHEDULED_TIME, red_flights.SECURITY_DELAY, red_flights.TAIL_NUMBER, red_flights.TAXI_IN, red_flights.TAXI_OUT, red_flights.WEATHER_DELAY, red_flights.WHEELS_OFF, red_flights.WHEELS_ON, red_flights.YEAR, red_flights.auto_index
from auto_generated_table_new, red_flights
where (auto_generated_table_new.auto_index = red_flights.auto_index)
group by (airline)

'select auto_generated_table_new.new, red_flights.AIRLINE, red_flights.AIRLINE_DELAY, red_flights.AIR_SYSTEM_DELAY, red_flights.AIR_TIME, red_flights.ARRIVAL_DELAY, red_flights.ARRIVAL_TIME, red_flights.CANCELLATION_REASON, red_flights.CANCELLED, red_flights.DAY, red_flights.DAY_OF_WEEK, red_flights.DEPARTURE_DELAY, red_flights.DEPARTURE_TIME, red_flights.DESTINATION_AIRPORT, red_flights.DISTANCE, red_flights.DIVERTED, red_flights.ELAPSED_TIME, red_flights.FLIGHT_NUMBER, red_flights.LATE_AIRCRAFT_DELAY, red_flights.MONTH, red_flights.ORIGIN_AIRPORT, red_flights.SCHEDULED_ARRIVAL, red_flights.SCHEDULED_DEPARTURE, red_flights.SCHEDULED_TIME, red_flights.SECURITY_DELAY, red_flights.TAIL_NUMBER, red_flights.TAXI_IN, red_flights.TAXI_OUT, red_flights.WEATHER_DELAY, red_flights.WHEELS_OFF, red_flights.WHEELS_ON, red_flights.YEAR, red_flights.auto_index\nfrom auto_generated_table_new, red_flights\nwhere (auto_generated_table_new.auto_index = red_flights.auto_index)\ngroup by (airline)\n'

In [17]:
lol = hei.RA.ra_stack.groupby_stack
print(lol)

['airline']

In [18]:
data['new'] = 1

caught set [] new 1
R: looking for  new in red_flights
R: looking for  new in auto_generated_table_new

In [10]:
data.execute("""
    select red_flights.auto_index
    from red_flights, auto_generated_table_new
    where (auto_generated_table_new.auto_index = red_flights.auto_index)
    limit 5 """).description

(('auto_index', None, None, None, None, None, None),)

In [11]:
data.to_pd().describe()

,new,AIRLINE_DELAY,AIR_SYSTEM_DELAY,AIR_TIME,ARRIVAL_DELAY,ARRIVAL_TIME,CANCELLED,DAY,DAY_OF_WEEK,DEPARTURE_DELAY,...,SCHEDULED_DEPARTURE,SCHEDULED_TIME,SECURITY_DELAY,TAXI_IN,TAXI_OUT,WEATHER_DELAY,WHEELS_OFF,WHEELS_ON,YEAR,auto_index
count,14.0,1.0,1.0,13.000000,13.000000,13.000000,14.000000,14.0,14.0,13.000000,...,14.000000,14.000000,1.0,13.000000,13.000000,1.0,13.000000,13.000000,14.0,14.000000
mean,1.0,15.0,0.0,183.615385,-2.307692,669.000000,0.071429,1.0,4.0,-2.923077,...,264.500000,196.000000,0.0,6.923077,13.846154,0.0,264.615385,659.000000,2015.0,90.571429
std,0.0,NaN,NaN,84.973073,13.237476,147.244128,0.267261,0.0,0.0,5.922577,...,258.022882,81.818749,NaN,2.871165,3.715870,NaN,260.546393,149.759251,0.0,182.980333
min,1.0,15.0,0.0,54.000000,-22.000000,408.000000,0.000000,1.0,4.0,-11.000000,...,5.000000,80.000000,0.0,4.000000,9.000000,0.0,14.000000,404.000000,2015.0,0.000000
25%,1.0,15.0,0.0,132.000000,-16.000000,610.000000,0.000000,1.0,4.0,-6.000000,...,25.000000,152.500000,0.0,5.000000,11.000000,0.0,34.000000,602.000000,2015.0,5.250000
50%,1.0,15.0,0.0,169.000000,-2.000000,638.000000,0.000000,1.0,4.0,-4.000000,...,150.000000,193.000000,0.0,6.000000,12.000000,0.0,201.000000,633.000000,2015.0,37.000000
75%,1.0,15.0,0.0,231.000000,9.000000,752.000000,0.000000,1.0,4.0,-2.000000,...,522.500000,230.750000,0.0,8.000000,16.000000,0.0,532.000000,746.000000,2015.0,79.500000
max,1.0,15.0,0.0,361.000000,15.000000,923.000000,1.000000,1.0,4.0,13.000000,...,645.000000,370.000000,0.0,14.000000,21.000000,0.0,647.000000,916.000000,2015.0,707.000000

In [12]:
data.generate_query()

'select auto_generated_table_new.new, red_flights.AIRLINE, red_flights.AIRLINE_DELAY, red_flights.AIR_SYSTEM_DELAY, red_flights.AIR_TIME, red_flights.ARRIVAL_DELAY, red_flights.ARRIVAL_TIME, red_flights.CANCELLATION_REASON, red_flights.CANCELLED, red_flights.DAY, red_flights.DAY_OF_WEEK, red_flights.DEPARTURE_DELAY, red_flights.DEPARTURE_TIME, red_flights.DESTINATION_AIRPORT, red_flights.DISTANCE, red_flights.DIVERTED, red_flights.ELAPSED_TIME, red_flights.FLIGHT_NUMBER, red_flights.LATE_AIRCRAFT_DELAY, red_flights.MONTH, red_flights.ORIGIN_AIRPORT, red_flights.SCHEDULED_ARRIVAL, red_flights.SCHEDULED_DEPARTURE, red_flights.SCHEDULED_TIME, red_flights.SECURITY_DELAY, red_flights.TAIL_NUMBER, red_flights.TAXI_IN, red_flights.TAXI_OUT, red_flights.WEATHER_DELAY, red_flights.WHEELS_OFF, red_flights.WHEELS_ON, red_flights.YEAR, red_flights.auto_index\nfrom auto_generated_table_new, red_flights\nwhere (auto_generated_table_new.auto_index = red_flights.auto_index)\ngroup by (airline)\n'

In [13]:
data.info()

lazyDataFrame
tables
  red_flights :
    YEAR : REAL
    MONTH : REAL
    DAY : REAL
    DAY_OF_WEEK : REAL
    AIRLINE : TEXT
    FLIGHT_NUMBER : REAL
    TAIL_NUMBER : TEXT
    ORIGIN_AIRPORT : TEXT
    DESTINATION_AIRPORT : TEXT
    SCHEDULED_DEPARTURE : REAL
    DEPARTURE_TIME : REAL
    DEPARTURE_DELAY : REAL
    TAXI_OUT : REAL
    WHEELS_OFF : REAL
    SCHEDULED_TIME : REAL
    ELAPSED_TIME : REAL
    AIR_TIME : REAL
    DISTANCE : REAL
    WHEELS_ON : REAL
    TAXI_IN : REAL
    SCHEDULED_ARRIVAL : REAL
    ARRIVAL_TIME : REAL
    ARRIVAL_DELAY : REAL
    DIVERTED : REAL
    CANCELLED : REAL
    CANCELLATION_REASON : TEXT
    AIR_SYSTEM_DELAY : REAL
    SECURITY_DELAY : REAL
    AIRLINE_DELAY : REAL
    LATE_AIRCRAFT_DELAY : REAL
    WEATHER_DELAY : REAL
    auto_index : INTEGER

  auto_generated_table_new :
    new : REAL
    auto_index : INTEGER

In [14]:
data2 = data.merge(airlines, left_on='AIRLINE', right_on='IATA_CODE')
data2.shape

caught merge
merge ['red_flights', 'auto_generated_table_new'] ['airlines']
new_stack
140072035977984
R: looking for  AIRLINE in red_flights
R: looking for  AIRLINE in auto_generated_table_new
L: looking for  IATA_CODE in airlines
new lzpd stack select airlines.AIRLINE, airlines.IATA_CODE, airlines.auto_index, auto_generated_table_new.new, red_flights.AIRLINE, red_flights.AIRLINE_DELAY, red_flights.AIR_SYSTEM_DELAY, red_flights.AIR_TIME, red_flights.ARRIVAL_DELAY, red_flights.ARRIVAL_TIME, red_flights.CANCELLATION_REASON, red_flights.CANCELLED, red_flights.DAY, red_flights.DAY_OF_WEEK, red_flights.DEPARTURE_DELAY, red_flights.DEPARTURE_TIME, red_flights.DESTINATION_AIRPORT, red_flights.DISTANCE, red_flights.DIVERTED, red_flights.ELAPSED_TIME, red_flights.FLIGHT_NUMBER, red_flights.LATE_AIRCRAFT_DELAY, red_flights.MONTH, red_flights.ORIGIN_AIRPORT, red_flights.SCHEDULED_ARRIVAL, red_flights.SCHEDULED_DEPARTURE, red_flights.SCHEDULED_TIME, red_flights.SECURITY_DELAY, red_flights.TAIL_NUMBER, red_flights.TAXI_IN, red_flights.TAXI_OUT, red_flights.WEATHER_DELAY, red_flights.WHEELS_OFF, red_flights.WHEELS_ON, red_flights.YEAR, red_flights.auto_index
from airlines, auto_generated_table_new, red_flights
where (airlines.IATA_CODE = red_flights.AIRLINE) and (auto_generated_table_new.auto_index = red_flights.auto_index)
group by (airline)

pre ['airlines.AIRLINE', 'airlines.IATA_CODE', 'airlines.auto_index', 'auto_generated_table_new.new', 'red_flights.AIRLINE', 'red_flights.AIRLINE_DELAY', 'red_flights.AIR_SYSTEM_DELAY', 'red_flights.AIR_TIME', 'red_flights.ARRIVAL_DELAY', 'red_flights.ARRIVAL_TIME', 'red_flights.CANCELLATION_REASON', 'red_flights.CANCELLED', 'red_flights.DAY', 'red_flights.DAY_OF_WEEK', 'red_flights.DEPARTURE_DELAY', 'red_flights.DEPARTURE_TIME', 'red_flights.DESTINATION_AIRPORT', 'red_flights.DISTANCE', 'red_flights.DIVERTED', 'red_flights.ELAPSED_TIME', 'red_flights.FLIGHT_NUMBER', 'red_flights.LATE_AIRCRAFT_DELAY', 'red_flights.MONTH', 'red_flights.ORIGIN_AIRPORT', 'red_flights.SCHEDULED_ARRIVAL', 'red_flights.SCHEDULED_DEPARTURE', 'red_flights.SCHEDULED_TIME', 'red_flights.SECURITY_DELAY', 'red_flights.TAIL_NUMBER', 'red_flights.TAXI_IN', 'red_flights.TAXI_OUT', 'red_flights.WEATHER_DELAY', 'red_flights.WHEELS_OFF', 'red_flights.WHEELS_ON', 'red_flights.YEAR', 'red_flights.auto_index'] ['airlines', 'auto_generated_table_new', 'red_flights'] ['airlines.IATA_CODE = red_flights.AIRLINE', 'auto_generated_table_new.auto_index = red_flights.auto_index']
pre select count(*)
from airlines, auto_generated_table_new, red_flights
where (airlines.IATA_CODE = red_flights.AIRLINE) and (auto_generated_table_new.auto_index = red_flights.auto_index)
group by (airline)

OperationalError: ambiguous column name: airline

In [ ]:
airports.shape

In [ ]:
a = data['MONTH'] == 1
b = data['DAY']
c = data['DAY']
print((a))
print((b.stack))
print((c.stack))
print((data.stack))

In [ ]:
airports = airports.dropna(subset = ['LATITUDE','LONGITUDE'])

In [ ]:
data1 = data.dropna(subset = ["TAIL_NUMBER",'DEPARTURE_TIME','DEPARTURE_DELAY','TAXI_OUT','WHEELS_OFF','SCHEDULED_TIME',
             'ELAPSED_TIME','AIR_TIME','WHEELS_ON','TAXI_IN','ARRIVAL_TIME','ARRIVAL_DELAY'])

In [ ]:
data11 = data1.dropna(subset = ['AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY'])
data11 = data11.drop(['YEAR','MONTH','DAY','DAY_OF_WEEK','TAIL_NUMBER','SCHEDULED_DEPARTURE','DEPARTURE_TIME','SCHEDULED_TIME',
                     'SCHEDULED_ARRIVAL','ARRIVAL_TIME','DIVERTED','CANCELLED','CANCELLATION_REASON','FLIGHT_NUMBER','WHEELS_OFF',
                     'WHEELS_ON','AIR_TIME'],axis = 1)

In [ ]:
# The other Dataset
Flight_Delays = data11

In [ ]:
# Creating Dataset by removing null values by not focussing fully on different types of Delays
data2 = data1.drop(['CANCELLATION_REASON','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY',
                    'LATE_AIRCRAFT_DELAY','WEATHER_DELAY'],axis = 1)

In [ ]:
data2.shape

In [ ]:
data2.info()

In [ ]:
# Creating a function to change the way of representation of time in the column
@np.vectorize
def Format_Hourmin(hours):
        if hours == 2400:
            hours = 0
        else:
            hours = "{0:04d}".format(int(hours))
            Hourmin = datetime.time(int(hours[0:2]), int(hours[2:4]))
            return Hourmin

In [ ]:
data1['CANCELLED']

In [ ]:
out = data1.execute('select month, airline, AVG(CANCELLED) from red_flights group by airline, month ').fetchall()
m, a, rel = list(map(list, zip(*out)))

In [ ]:
print(a)
plt.plot(a, rel)
plt.show()

In [ ]:
x = data1['DEPARTURE_TIME'].apply(Format_Hourmin)
#data2['Actual_Departure'] = x
x

In [ ]:
plt.plot(data['ELAPSED_TIME'], data['DISTANCE'], '.')
plt.show()

In [ ]:
data = data.dropna(['DISTANCE', 'ARRIVAL_DELAY'])
type(a)

In [ ]:
x = data['DISTANCE'].to_pd().values.flatten()
y = data['ARRIVAL_DELAY'].to_pd().values.flatten()

heatmap, xedges, yedges = np.histogram2d(x, y, bins=16)
plt.imshow(heatmap.T, origin='lower')
plt.show()

In [ ]:
a = data['DISTANCE']
a.generate_stack()

In [ ]:
from util import csvToDb, out_to_pd
out = data.execute('select min(AIRLINE_DELAY) from red_flights')
print(out.description[0])
out.fetchone()
#data.dotted_datatype

In [ ]:
a = data.to_pd()
a.describe()

In [ ]:
flights.info()

In [ ]:
a = data.DAG.nodes[0].generate_stack()

In [ ]:
boh, index = np.unique(a.select_stack, return_inverse=True)
boh, boh[index]

In [ ]:
a.select_stack

In [ ]:
# Merging on AIRLINE and IATA_CODE
data2 = data2.merge(airlines, left_on='AIRLINE', right_on='IATA_CODE', how='inner')

In [ ]:
data2['AIRLINE']

In [ ]:
N = 7
L = 101
index = 1/(1+np.arange(L))